@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    font-family: 'Fredoka One', cursive;
}

html{
    background: url(../img/fondo.jpg)no-repeat center center fixed;
    height: 100%;
    background-size: 100% 100%;
}

.ancho-100 {
    width: 100%;
}

.redondo {
    border-radius: 30px;
}

.input-field input:focus + label {
    color: rgb(63, 146, 255) !important;
}

.input-field input:focus {
    border-bottom: 1px solid rgb(63, 146, 255) !important;
    box-shadow: 0 1px 0 0 rgb(63, 146, 255) !important;
}

.md-blue {
    color: rgba(63, 146, 255);
}
.md-orange {
    color: rgb(255, 153, 0);
}

.card {
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
}





